<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>urlName</key>
		<string>爱奇艺</string>
		<key>url</key>
		<string>http://www.iqiyi.com/</string>
		<key>logo</key>
		<string>aiqiyi.jpeg</string>
	</dict>
	<dict>
		<key>urlName</key>
		<string>腾讯</string>
		<key>url</key>
		<string>https://v.qq.com/</string>
		<key>logo</key>
		<string>tengxun.jpeg</string>
	</dict>
	<dict>
		<key>urlName</key>
		<string>优酷</string>
		<key>url</key>
		<string>http://www.youku.com/</string>
		<key>logo</key>
		<string>youku.jpeg</string>
	</dict>
	<dict>
		<key>urlName</key>
		<string>土豆</string>
		<key>url</key>
		<string>http://www.tudou.com/</string>
		<key>logo</key>
		<string>tudou.jpeg</string>
	</dict>
	<dict>
		<key>urlName</key>
		<string>搜狐</string>
		<key>url</key>
		<string>http://www.sohu.com/</string>
		<key>logo</key>
		<string>souhu.jpeg</string>
	</dict>
	<dict>
		<key>urlName</key>
		<string>56视频</string>
		<key>url</key>
		<string>http://www.56.com/</string>
		<key>logo</key>
		<string>56.jpeg</string>
	</dict>
	<dict>
		<key>urlName</key>
		<string>1905电影</string>
		<key>url</key>
		<string>http://www.1905.com/</string>
		<key>logo</key>
		<string>1905.jpeg</string>
	</dict>
	<dict>
		<key>urlName</key>
		<string>乐视TV</string>
		<key>url</key>
		<string>http://www.le.com/</string>
		<key>logo</key>
		<string>leshi.jpeg</string>
	</dict>
	<dict>
		<key>urlName</key>
		<string>百度</string>
		<key>url</key>
		<string>http://www.baidu.com/</string>
		<key>logo</key>
		<string>baidu.jpeg</string>
	</dict>
</array>
</plist>
